# [教學目標]
- 知道 DataFrame 如何檢視欄位的型態數量以及各欄型態, 以及 Label Encoding / One Hot Encoding 如何寫?

# [範例重點]
- 檢視 DataFrame 的資料型態 (In[3], In[4])
- 了解 Label Encoding 如何寫 (In[6])
- 了解 One Hot Encoding 如何寫 (In[7])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../../data/Part01'

# f_app_train = '../../data/Part01/application_train.csv'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_train
app_test = pd.read_csv(f_app_test)

In [17]:
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,0,1,0,202500.000,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,0,0,0,270000.000,1293502.5,35698.5,1129500.0,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,1,1,1,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,0,1,0,135000.000,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,0,1,0,121500.000,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,0,0,1,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,0,1,1,1,171000.000,1560726.0,41301.0,1395000.0,...,0,0,0,0,0,0,0,0,0,0
7,100010,0,0,1,1,0,360000.000,1530000.0,42075.0,1530000.0,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,0,0,1,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,1,0,1,0,135000.000,405000.0,20250.0,405000.0,...,0,0,0,0,0,0,0,0,0,0
10,100014,0,0,0,1,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0,0,0,0,0,0,0,0
11,100015,0,0,0,1,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0,0,0,0,0,0,0,0
12,100016,0,0,0,1,0,67500.000,80865.0,5881.5,67500.0,...,0,0,0,0,0,0,0,0,1,0
13,100017,0,0,1,0,1,225000.000,918468.0,28966.5,697500.0,...,0,0,0,0,0,1,0,0,1,0
14,100018,0,0,0,1,0,189000.000,773680.5,32778.0,679500.0,...,0,0,0,0,0,1,0,0,1,0
15,100019,0,0,1,1,0,157500.000,299772.0,20160.0,247500.0,...,0,0,0,0,0,0,0,0,0,0
16,100020,0,0,0,0,0,108000.000,509602.5,26149.5,387000.0,...,0,0,0,0,0,0,0,0,0,0
17,100021,0,1,0,1,1,81000.000,270000.0,13500.0,270000.0,...,0,0,0,0,0,0,0,0,0,0
18,100022,0,1,0,1,0,112500.000,157500.0,7875.0,157500.0,...,0,0,0,0,0,0,1,0,1,0
19,100023,0,0,0,1,1,90000.000,544491.0,17563.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
20,100024,0,1,1,1,0,135000.000,427500.0,21375.0,427500.0,...,0,0,0,0,0,0,1,0,1,0
21,100025,0,0,1,1,1,202500.000,1132573.5,37561.5,927000.0,...,0,0,0,0,0,0,0,0,0,0
22,100026,0,0,0,0,1,450000.000,497520.0,32521.5,450000.0,...,0,0,0,0,0,1,0,0,1,0
23,100027,0,0,0,1,0,83250.000,239850.0,23850.0,225000.0,...,0,0,1,0,0,0,0,0,1,0
24,100029,0,0,1,0,2,135000.000,247500.0,12703.5,247500.0,...,0,0,0,0,0,1,0,0,1,0
25,100030,0,0,0,1,0,90000.000,225000.0,11074.5,225000.0,...,0,0,0,0,0,0,1,0,1,0
26,100031,1,0,0,1,0,112500.000,979992.0,27076.5,702000.0,...,0,0,0,0,0,0,0,1,0,1
27,100032,0,0,0,1,1,112500.000,327024.0,23827.5,270000.0,...,0,0,0,0,0,0,0,0,0,0
28,100033,0,0,1,1,0,270000.000,790830.0,57676.5,675000.0,...,0,0,0,0,0,0,0,0,0,0
29,100034,0,1,0,1,0,90000.000,180000.0,9000.0,180000.0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,0,1,0,225000.000,297000.0,19975.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
307482,456226,0,0,1,1,0,225000.000,500566.5,34969.5,472500.0,...,0,1,0,0,0,0,0,0,1,0
307483,456227,0,0,0,1,0,99000.000,247275.0,16479.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307484,456228,0,0,1,0,0,540000.000,545040.0,35617.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
307485,456229,0,1,0,1,1,270000.000,180000.0,9000.0,180000.0,...,0,0,0,0,0,0,0,0,0,0
307486,456230,0,0,1,1,1,292500.000,355536.0,18283.5,270000.0,...,0,0,0,0,0,1,0,0,1,0
307487,456231,0,0,0,1,0,117000.000,1071909.0,31473.0,936000.0,...,0,0,0,0,0,0,0,0,0,0
307488,456232,0,0,0,0,0,157500.000,135000.0,13351.5,135000.0,...,0,0,0,0,0,0,0,0,1,0
307489,456233,1,0,0,1,0,225000.000,521280.0,23089.5,450000.0,...,0,0,0,0,0,0,1,0,0,1
307490,456234,0,0,0,1,0,81000.000,135000.0,9148.5,135000.0,...,0,0,0,0,0,0,0,0,0,0
307491,456235,0,0,1,1,2,90000.000,1078200.0,31522.5,900000.0,...,0,0,0,0,0,0,0,0,0,0
307492,456236,0,0,1,1,0,585000.000,1575000.0,43443.0,1575000.0,...,0,0,0,0,0,0,0,0,0,0
307493,456237,0,0,0,1,0,135000.000,946764.0,37678.5,765000.0,...,0,0,0,0,0,0,0,0,0,0
307494,456238,0,0,1,0,1,270000.000,479700.0,46858.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
307495,456239,0,0,1,0,0,180000.000,808650.0,23773.5,675000.0,...,0,0,0,0,0,1,0,0,1,0
307496,456240,0,1,0,0,0,360000.000,337500.0,16875.0,337500.0,...,0,0,0,0,0,0,0,0,0,0
307497,456241,0,0,1,1,0,180000.000,270126.0,12028.5,193500.0,...,0,0,0,0,0,0,0,0,0,0
307498,456242,0,0,1,1,0,198000.000,1312110.0,52168.5,1125000.0,...,0,0,0,0,0,1,0,0,1,0
307499,456243,0,0,0,1,0,81000.000,225000.0,12694.5,225000.0,...,0,0,0,0,0,0,0,0,0,0
307500,456244,0,0,0,1,0,261000.000,1303812.0,35982.0,1138500.0,...,0,0,0,0,0,1,0,0,1,0
307501,456245,0,0,0,1,3,81000.000,269550.0,11871.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307502,456246,0,0,0,1,1,94500.000,225000.0,10620.0,225000.0,...,0,0,0,0,0,0,0,0,0,0
307503,456247,0,0,0,1,0,112500.000,345510.0,17770.5,247500.0,...,0,0,0,0,0,0,0,0,0,0
307504,456248,0,0,0,1,0,153000.000,331920.0,16096.5,225000.0,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,0,0,1,0,112500.000,225000.0,22050.0,225000.0,...,0,0,0,0,0,1,0,0,1,0
307506,456251,0,0,0,0,0,157500.000,254700.0,27558.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307507,456252,0,0,0,1,0,72000.000,269550.0,12001.5,225000.0,...,0,0,0,0,0,0,1,0,1,0
307508,456253,0,0,0,1,0,153000.000,677664.0,29979.0,585000.0,...,0,0,0,0,0,1,0,0,1,0
307509,456254,1,0,0,1,0,171000.000,370107.0,20205.0,319500.0,...,0,0,0,0,0,0,1,0,1,0
307510,456255,0,0,0,0,0,157500.000,675000.0,49117.5,675000.0,...,0,0,0,0,0,1,0,0,1,0

# 檢視資料中各個欄位類型的數量

In [4]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

# 檢視資料中"類別型欄位"各自類別的數量

In [13]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0) # 在每個series中判斷每一列資料，計算類別數量

CODE_GENDER                    3
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有"大小關係" (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [11]:
from sklearn.preprocessing import LabelEncoder

In [14]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train: # 取出每一欄的名稱
    if app_train[col].dtype == 'object': # check if the data type is a category
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

0 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [20]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [21]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [ ]:
"""
Your Code Here
"""